In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
titanic_train=pd.read_csv("train.csv")
titanic_test = pd.read_csv("test.csv")

In [3]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_train.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [5]:
titanic_train["Age"].mean()

29.69911764705882

In [6]:
new_age_var=np.where(titanic_train['Age'].isnull(),29,titanic_train['Age'])

In [7]:
titanic_train["Age"]=new_age_var

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [9]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
predictors=pd.DataFrame([encoded_sex,titanic_train["Age"],titanic_train["Fare"]]).T

In [11]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [27]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [13]:
with open("Dtree.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f);

In [14]:
tree_model.score(X=predictors,y=titanic_train["Survived"])

0.8754208754208754

In [15]:
x=tree.export_text(tree_model,feature_names=["Sex","Age","Fare"])
print(x)

|--- Sex <= 0.50
|   |--- Fare <= 48.20
|   |   |--- Fare <= 27.82
|   |   |   |--- Fare <= 25.70
|   |   |   |   |--- Fare <= 24.07
|   |   |   |   |   |--- Fare <= 10.48
|   |   |   |   |   |   |--- Fare <= 8.04
|   |   |   |   |   |   |   |--- Age <= 29.75
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  29.75
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  8.04
|   |   |   |   |   |   |   |--- Age <= 19.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  19.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  10.48
|   |   |   |   |   |   |--- Fare <= 14.13
|   |   |   |   |   |   |   |--- Age <= 53.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  53.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  14.13
|   |   |   |   |   |   |   |--- Fare <= 15.37
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  15.37
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  24.07
|   |   |   |   |   |--- Fare <= 24.81
|   |   |   |   |   |   |--- Age <= 19.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  19.50
|   |   |   |   |   |   |   |--- Age <= 29.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  29.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  24.81
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  25.70
|   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  25.50
|   |   |   |   |   |--- Age <= 27.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  27.00
|   |   |   |   |   |   |--- Age <= 43.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  43.00
|   |   |   |   |   |   |   |--- Age <= 44.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  44.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |--- Fare >  27.82
|   |   |   |--- Fare <= 28.86
|   |   |   |   |--- class: 0
|   |   |   |--- Fare >  28.86
|   |   |   |   |--- Age <= 38.50
|   |   |   |   |   |--- Age <= 21.50
|   |   |   |   |   |   |--- Fare <= 30.67
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  30.67
|   |   |   |   |   |   |   |--- Fare <= 31.33
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  31.33
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Age >  21.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  38.50
|   |   |   |   |   |--- Fare <= 36.69
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  36.69
|   |   |   |   |   |   |--- Fare <= 39.64
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  39.64
|   |   |   |   |   |   |   |--- class: 0
|   |--- Fare >  48.20
|   |   |--- Age <= 8.00
|   |   |   |--- class: 0
|   |   |--- Age >  8.00
|   |   |   |--- Age <= 29.50
|   |   |   |   |--- Age <= 24.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  24.50
|   |   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  25.50
|   |   |   |   |   |   |--- Fare <= 74.20
|   |   |   |   |   |   |   |--- Fare <= 62.28
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  62.28
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  74.20
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  29.50
|   |   |   |   |--- class: 1
|--- Sex >  0.50
|   |--- Age <= 6.50
|   |   |--- Fare <= 20.83
|   |   |   |--- class: 1
|   |   |--- Fare >  20.83
|   |   |   |--- Age <= 0.96
|   |   |   |   |--- class: 1
|   |   |   |--- Age >  0.96
|   |   |   |   |--- Fare <= 64.38
|   |   |   |   |   |--- Age <= 3.50
|   |   |   |   |   |   |--- Fare <= 39.34
|   |   |   |   |   |   |   |--- Fare <= 23.54
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  23.54
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  39.34
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  3.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  64.38
|   |   |   |   |   |--- class: 1
|   |--- Age >  6.50
|   |   |--- Fare <= 26.27
|   |   |   |--- Age <= 13.50
|   |   |   |   |--- Fare <= 17.34
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  17.34
|   |   |   |   |   |--- Fare <= 19.66
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  19.66
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  13.50
|   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |--- Age <= 30.75
|   |   |   |   |   |   |--- Fare <= 23.35
|   |   |   |   |   |   |   |--- Fare <= 22.89
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  22.89
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  23.35
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  30.75
|   |   |   |   |   |   |--- Fare <= 7.81
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  7.81
|   |   |   |   |   |   |   |--- Fare <= 7.88
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  7.88
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  32.50
|   |   |   |   |   |--- Fare <= 7.91
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  7.91
|   |   |   |   |   |   |--- Fare <= 7.99
|   |   |   |   |   |   |   |--- Age <= 38.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  38.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  7.99
|   |   |   |   |   |   |   |--- Fare <= 13.25
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  13.25
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |--- Fare >  26.27
|   |   |   |--- Fare <= 26.47
|   |   |   |   |--- class: 1
|   |   |   |--- Fare >  26.47
|   |   |   |   |--- Fare <= 387.66
|   |   |   |   |   |--- Age <= 22.50
|   |   |   |   |   |   |--- Fare <= 109.89
|   |   |   |   |   |   |   |--- Age <= 8.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  8.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  109.89
|   |   |   |   |   |   |   |--- Fare <= 127.82
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  127.82
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  22.50
|   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |--- Fare <= 151.29
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  151.29
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |--- Age <= 53.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  53.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  387.66
|   |   |   |   |   |--- class: 1

In [ ]:
# Conclusion: The accuracy of the model is 87.54% as the max depth used is 8 also above have exported the tree model for your reference
where in Sex <= 0.5
gini = 0.473
samples = 891
value = [549, 342]

Sex= female 342 & Male 549 

Fare <= 48.2
gini = 0.383
samples = 314
value = [81, 233]

Fare 81 are female and 233 are Male

Age <= 6.5
gini = 0.306
samples = 577
value = [468, 109]

Fare 109 are female and 468 are Male